body{
    background-color:cornflowerblue ;
}
img{
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: 200px;
}
.box-shadow{
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, .2);
    overflow: hidden;

}


@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    color: #435757;
    background: url('../img/factory.png'), no-repeat center ;
    background-size: 100%;

    background-color: navajowhite;

    background-position: bottom 50px right 100px;
    font: 1.4em/1 'Noto Sans', sans-serif;

}

/*.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.question_list input {
    position: absolute;
    left: -9999px;
}

.realLabel {
    display: block;
    position: relative;
    margin: 20px;
    padding: 15px 30px 15px 62px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #6a8494;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

.realLabel::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}

.realLabel:first-of-type {
    transform: translateX(-10px);
}

.realLabel:last-of-type {
    transform: translateX(10px);
}

.realLabel:hover, .realInput:focus + .realLabel {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.realInput:checked + .realLabel {

    background-color: #194359;
}

.realInput:checked + .reaLabel::before {
    background-color: #fff;
}
.realInput{
    visibility:hidden;
}

.question_list {
 list-style: none;
}
.menu_deco {
    display: flex;
    justify-content: center !important;
    background-color: #2f779d;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.menu_deco li {
    padding: 10px 20px;
    list-style: none;
}

.menu_deco li a{
    text-decoration: none;
    color:white;
    transition:ease 0.3s;

}
.menu_deco li a:hover{
    text-decoration: none;
    color:darkred;
}

.menu_deco {
    padding:0;
    text-align: center;
}
.question_list{
    margin:0;
    padding:0;
}
.QuizzName{
    text-align: center;
}


.question_list label img{
    max-width: 200px;
    max-height: 200px;
}
.header-toogle {


    display: block;

}
.header-toogle img{
    max-height:30px;
    max-width:30px;
}
.header-toogle-close {
    display: none
}


/*animation*/
@media(max-width: 550px){
    .menu_deco {
        display: flex;
        justify-content: center !important;
        background-color: #2f779d;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
        flex-direction: column;
    }
}

.card-body{
    text-align: center;
}

.card img{
    max-height: 180px;
}
